/attract
/attractplus
*.o
obj*
core
*.dll
*.exe
/*.cfg
/*.am
*.layout
*.depend
/emulators
/layouts
/plugins
/language
/romlists
/sounds
/stats
/modules
/history.idx
/.vscode

# descarga de terceros, no forma parte del proyecto
/CheatCollection
